{% extends "LIVTU_MAIN/layout.html" %}
{% block title %}
Edit your Profile
{% endblock %}
{% block content %}
<form action="{% url 'profileEdit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <style>
        .image-upload>input {
            display: none;
        }

        .image-upload label {
            display: inline-block;
            cursor: pointer;
        }
    </style>
    <label for="upload" class="label">
        <div class="image-upload"
            style="border-radius: 50%; display: flex; justify-content: center; align-items: center; width: 150px; height: 150px; overflow: hidden; background-color: lightblue;">
            <label for="file-input">
                <img src="{{ profilePictureUrl }}" alt="Profile Picture" height="150px" width="auto" onerror="handleImageError(this, '{%static 'LIVTU_MAIN/img/USER_ICON.svg'%}')"/>
            </label>
            <input id="file-input" onchange="form.submit()" type="file" name="profilePicture" accept="image/png"
                required />
        </div>
    </label>
</form>
<script>
    document.querySelector('.image-upload label').addEventListener('click', function () {
        document.getElementById('file-input').click();
    });
</script>
{% endblock %}