{% extends "LIVTU_MAIN/layout.html" %}
{% load static %}
{% block title %}
Your Profile
{% endblock %}
{% block content %}
<style>
    .backgroundimg {
        display: block;
        width: 100%;
        height: 500px;
        background-color: lightblue;
        overflow: hidden;
    }
    .profilepic {
        position: absolute;
        top: 400px;
        left: 37.5%;
        display: block;
        width: 25%;
        padding-bottom: 25%;
        background-color: lightblue;
        border-radius: 50%;
        overflow: hidden;
    }
</style>
<div class="profile" style="display: block; background-color: white; height: 100%;">
    <div class="backgroundimg">
        <img src="{{profileBackgroundUrl}}" alt="Background" onerror="handleImageError(this, '{%static 'LIVTU_MAIN/img/UserBackground.jpg'%}')" width="100%" height="auto">
    </div>
    <div class="profilepic">

    </div>
    <div class="data">

    </div>
    <div class="description">

    </div>
    <div class="otherProfileStuff">

    </div>
</div>
{% endblock %}