{% extends "LIVTU_MAIN/layout.html" %}
{% load static %}
{% block title %}
Your Profile
{% endblock %}
{% block content %}
<style>
    .backgroundimg {
        position: absolute;
        display: block;
        width: 100vw;
        height: 25vw;
        background-color: lightblue;
        overflow: hidden;
    }
    .profilepic {
        position: absolute;
        top: 12.5vw;
        left: 37.5vw;
        display: block;
        width: 25vw;
        height: 25vw;
        background-color: lightblue;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile {
        position: relative;
    }
</style>
<div class="profile" style="display: block; background-color: white; height: 100%;">
    <div class="backgroundimg">
        <img src="{{profileBackgroundUrl}}" alt="Background" onerror="handleImageError(this, '{%static 'LIVTU_MAIN/img/UserBackground.jpg'%}')" width="100%" height="auto">
    </div>
    <div class="profilepic">
        <img src="{{ profilePictureUrl }}" alt="Profile Picture" width="100%" heigth="auto" onerror="handleImageError(this, '{%static 'LIVTU_MAIN/img/USER_ICON.svg'%}')"/>
    </div>
    <div class="data">

    </div>
    <div class="description">

    </div>
    <div class="otherProfileStuff">

    </div>
</div>
{% endblock %}