{% extends "LIVTU_MAIN/layout.html" %}
{% block title %}
Sign up
{% endblock %}
{% block content %}#
<form action="{% url 'endSignUp' %}" method="post">
	{% csrf_token %}
	<br />
	<h1>Sign Up</h1>


	<p>Please fill in this form</p>


	<input type="name" id="Username" name="name" placeholder="Username"><br><br>
	<input type="email" id="Email" name="email" placeholder="Email"><br><br>
	<input type="password" id="Password" name="pass" placeholder="Password"><br><br>
	<input type="password" id="confirm_password" name="pass-repeat" placeholder=" Repeat Password"><br><br>
	<label>
		<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
	</label>

	<input type="submit" value="SignUp"><br><br>

</form>
{% endblock %}